/*
EJDCard - Campina Grande
Autor: Luciano Júnior
Ano: 2015
*/
body{
    margin: 0;
    padding: 0;
}
#tudo {
    position: relative;
    width: 100%;
    min-height: 100%;
}
header {
    background-color: #4198ff;
    height: 150px;
    font: 120px Dosis;
    color: #fff;
    text-align: center;
}
#canvas {
    background-color: blueviolet;
    height: 600px;
}
footer{
    background-color: #4198ff;
    height: 60px;
    position: absolute;
    bottom: 10px;
    width: 600px;
    left: 50%;
    margin-left: -300px;
}