<div id="row">
        <div class="col-md-4 col-md-offset-4" style="background-color: rgba(255,255,255,0.8); font-size: 20px;">
            <p>Este portal existe no sentido de demonstar alguma das funções do EJDCard que será inaugurado no Encontrão 2015. Aqui em baixo você pode encontrar todos os módulos que o sistema é composto por.</p>
            <ul>
                <li><a ui-sref="cadastra">Cadastro de cartões (começo do encontro)</a> </li>
                <li><a ui-sref="venda">Módulo de venda (lojinha e lanchonete)</a> </li>
                <li><a ui-sref="recarga">Módulo de recarga</a> </li>
                <li><a ui-sref="finaliza">Módulo de Finalização</a> </li>
            </ul>
        </div>
</div>